@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #0E1115;
    font-family: "Poppins",sans-serif;
    margin:0;
}

a{
    text-decoration: none;
    color: #aaa7a7;
    font-size: 1rem;
    font-weight: bold;
}

header{
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header input{
    background-color: transparent;
    border: 2px solid #0E1115;
    padding: 0.4rem 0.7rem;
    border-radius: 50px;
    font-family: inherit;
    color: #eee;
}

header input::placeholder{
    color: #aaa7a7;
    font-size: 1rem;
}

header input:focus{
    outline: none;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.movie{
    border-radius: 7px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    background-color: #222222;
    position: relative;
    overflow: hidden;
    width: 300px;
}

.movie img{
    height: 400px;
    width: 100%;
}

.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    padding:0.5rem 1rem 1rem;
    color: #eee;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #363636;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(117, 236, 117);
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: rgb(236, 69, 69);
}

.overview{
    background-color: #eee;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: 0.7s;
}

.overview h4{
    margin-top: 0;
}

.movie:hover .overview{
    transform: translateY(0);
}
